server:
  port: 8081

spring:
  profiles:
    default: dev
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:5432/order_service
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
#    properties:
#      hibernate:
#        format_sql: true
    open-in-view: false

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      database: ${REDIS_DB:0}
      timeout: 2s

  redis:
    lettuce:
      pool:
        max-active: 16
        max-idle: 16
        min-idle: 2
        max-wait: 1s

#  flyway:
#    enabled: true
#    locations: classpath:db/migration

outbox:
  topic: order-events
  polling-ms: 200

#logging:
#  level:
#    org.hibernate.SQL: debug
#    org.hibernate.orm.jdbc.bind: trace   # 파라미터 바인딩 로그(너무 시끄러우면 info로)
